<!-- Start index.hbs -->

<style>
  .carousel-text {
    border: 1px solid black;
    background-color: grey;
  }
</style>

<div class="banner">
  <div class="container">
    <script src="/js/responsiveslides.min.js"></script>
    <script>
      $(function () {
        $("#slider").responsiveSlides({
          auto: true,
          nav: true,
          speed: 500,
          namespace: "callbacks",
          pager: true,
        });
      });
    </script>
    <div  id="top" class="callbacks_container">
      <ul class="rslides" id="slider">
          <li>

            <div class="banner-text">
              <div class="carousel-text" style="">
              <h3>ConnextCMS eCommerce Plugin</h3>
              <p>
                This plugin demonstrates how to interface <a href="http://connextcms.com" target="_blank">ConnextCMS</a> 
                with the <a href="https://www.moltin.com/" target="_blank">Moltin eCommerce API</a>. All source code
                can be found on
                <a href="https://github.com/skagitpublishing/moltin-connextcms-plugin" target="_blank">GitHub</a>.
              </p>
              </div>
            </div>

        </li>
        <li>

            <div class="banner-text">
              <div class="carousel-text">
                <h3>Develop With Front End Tools</h3>
                <p>
                  Use front end tools like Chrome Devtools to debug and develop your eCommerce site.
                </p>
              </div>

            </div>

        </li>
        <li>
            <div class="banner-text">
              <div class="carousel-text">
                <h3>eCommerce Services For Free</h3>
                <p>
                  The Moltin API has a free tier to use. No need to pay money until your site becomes popular.
                </p>
              </div>

            </div>

        </li>
      </ul>
    </div>

	</div>
</div>

<!--content-->
<div class="container">
	<div class="cont">
		<div class="content">
			<div class="content-top-bottom">
				<h2>Featured PRODUCTS</h2>
				<div class="col-md-6 men">
					<a href="/product?productId=1474779480428904834" class="b-link-stripe b-animate-go thickbox">
            <img class="img-responsive" src="/images/rpi-motherboard.jpg" alt="">
						<div class="b-wrapper">
              <h3 class="b-animate b-from-top top-in   b-delay03 ">
                <span>Raspberry Pi B+ V3 Motherboard</span>	
              </h3>
            </div>
					</a>
					
					
				</div>
				<div class="col-md-6">
					<div class="col-md1 ">
						<a href="/product?productId=1474785560315822469" class="b-link-stripe b-animate-go  thickbox">
              <img class="img-responsive" src="/images/arduino-mega.jpg" alt="">
							<div class="b-wrapper">
                <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                  <span>Arduino Mega Microcontroller</span>	
                </h3>
              </div>
						</a>
						
					</div>
					<div class="col-md2">
						<div class="col-md-6 men1">
							<a href="/product?productId=1474780595350405507" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="/images/rpi-case.jpg" alt="">
									<div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                      <span>Official Raspberry Pi Case</span>	
                    </h3>
                  </div>
							</a>
							
						</div>
						<div class="col-md-6 men2">
							<a href="/product?productId=1474783952202891652" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="/images/arduino-uno.jpg" alt="">
									<div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                      <span>Arduino Uno</span>	
                    </h3>
                  </div>
							</a>
							
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="content-top">
				<h1>NEW PRODUCTS</h1>
				<div class="grid-in">
					<div class="col-md-3 grid-top simpleCart_shelfItem">
						<a href="/product?productId=1474798333137518982" class="b-link-stripe b-animate-go  thickbox">
              <img class="img-responsive" src="/images/200w-solar-panel-kit.jpg" alt="">
							<div class="b-wrapper">
								<h3 class="b-animate b-from-left    b-delay03 ">
									<span>200 Watt Solar Panel Kit</span>
									
								</h3>
							</div>
						</a>
				

					 <p><a href="/product?productId=1474798333137518982">200W Solar Kit</a></p>
					 <a href="/product?productId=1474798333137518982" class="item_add"><p class="number item_price"><i> </i>$310</p></a>
					</div>
          
					<div class="col-md-3 grid-top simpleCart_shelfItem">
						<a href="/product?productId=1474779480428904834" class="b-link-stripe b-animate-go  thickbox">
              <img class="img-responsive" src="/images/rpi-motherboard.jpg" alt="">
							<div class="b-wrapper">
                <h3 class="b-animate b-from-left    b-delay03 ">
                  <span>Raspberry Pi B+ V3</span>	
                </h3>
              </div>
						</a>
            <p><a href="/product?productId=1474779480428904834">Raspberry Pi B+ V3</a></p>
            <a href="/product?productId=1474779480428904834" class="item_add"><p class="number item_price"><i> </i>$37</p></a>
					</div>
          
					<div class="col-md-3 grid-top simpleCart_shelfItem">
						<a href="/product?productId=1474799616217055623" class="b-link-stripe b-animate-go  thickbox">
              <img class="img-responsive" src="/images/100w-solar-panel.jpg" alt="">
							<div class="b-wrapper">
                <h3 class="b-animate b-from-left    b-delay03 ">
                  <span>100W Solar Panel</span>	
                </h3>
              </div>
						</a>
            <p><a href="/product?productId=1474799616217055623">100W Solar Panel</a></p>
            <a href="/product?productId=1474799616217055623" class="item_add"><p class="number item_price"><i> </i>$113</p></a>
					</div>
          
					<div class="col-md-3 grid-top">
						<a href="/product?productId=1474783952202891652" class="b-link-stripe b-animate-go  thickbox">
              <img class="img-responsive" src="/images/arduino-uno.jpg" alt="">
							<div class="b-wrapper">
                <h3 class="b-animate b-from-left    b-delay03 ">
                  <span>Arduino Uno</span>	
                </h3>
              </div>
						</a>
            <p><a href="/product?productId=1474783952202891652">Arduino Uno</a></p>
            <a href="/product?productId=1474783952202891652" class="item_add"><p class="number item_price"><i> </i>$18</p></a>
					</div>
          
          <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	<!----->
	</div>
	<!---->
</div>

<!-- End index.hbs -->