<div class="continer">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 text-center" style="margin: 20px;">
      <h1 style="margin: 20px;">Thank You!</h1>
      <p style="margin: 20px;">
        Your payment has been processed successfully and your order submitted. If this was a real-life purchase, you
        would recieve a confirmation email, but since this is a demo, you will only see this 'Thank You' page.
      </p>
      <a type="button" class="btn btn-success" href="/" style="margin: 20px;">Back to Homepage</a>
    </div>
  </div>
</div>