<div class="row">
  <div class="col-sm-12">
    <h2>Moltin API Interface</h2>
    <p>
      This screen allows you to configure ConnextCMS to interface with the Moltin API.
    </p>
    
  </div>
</div>

<form class="form-horizontal">
  <div class="form-group" id="pluginScaffold">
    <label for="inputApiKey" class="col-sm-2 control-label">API Key</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="inputApiKey" name="inputApiKey" placeholder="Your Moltin Public ID Key">
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-small btn-success saveApiKey">Save</button>
    </div>
  </div>
</form>